{% extends "blog/base.html" %}
{% load static %}


{% block content %}
<!-- <p class="quote">I build things, and sometimes I break things. But I learn from the mistakes.</p> -->

<div class="div-container">

    <div class="">
      <div class="">
        <p class="welcome"> Welcome to my portfolio </p>
      </div>
      <div class="">
        <h1 class="name">Hi, I'm Alebachew Melaku</h1>
      </div>
      <div class="">
        <p>A passionate full-stack developer specializing in creating beautiful, functional, and user-friendly digital experiences.


        </p>
      </div>

      <div class="btns">
        <div class="">
          <button class="intouch-btn" type="button" name="button">Get in Touch</button>
        </div>
        <div class="">
          <button class="viewproj-btn" type="button" name="button">View Projects</button>
        </div>
      </div>
    </div>

    <div class="image-container">
      <img class="img" src="{% static 'asset/imgs/MINEPIC.jpg' %}" alt="my pic">
    </div>
  </div>

  <div class="div-container aboutme-div">

      <div class="">
        <div class="">
          <i class="bi bi-file-person-fill"></i> <h1  class="name"> About Me</h1>
        </div>
        <div class="">
          <p>I'm passionate about web development. With expertise in both frontend and backend development, I'm all
             about bringing creative concepts to life through code. I thrive on challenges and continuously seek
             opportunities to expand my skills.Eager to learn and grow, I'm always on the lookout for new ways to add value.
          </p>
        </div>
      </div>

      <div class="links-container">

        <div class="">
          <li><i class="bi bi-code-slash"></i> <a href="#">Clean Code</a></li>
          <p>Writing maintainable, scalable code</p>
        </div>


        <div class="">
          <li><i class="bi bi-question-diamond"></i> <a href="#">Problem Solving</a></li>
          <p>Finding creative solutions</p>
        </div>
      </div>
    </div>

    <div class="skills-div_container">
      <h1>Skills & Expertise</h1>
    </div>

    <div id="skills-container" class="skills-container">

        <div class="left-row">
          <div class="skill-div">
            <div class="spacebetween-div">
              <div class="">
                <h3>Frontend Development</h3>
              </div>
              <div class="">
                <h3>90%</h3>
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
            </div>
          </div>


          <div class="skill-div">
            <div class="spacebetween-div">
              <div class="">
                <h3>HTML/CSS/JavaScript </h3>

              </div>
              <div class="">
                <h3>100%</h3>
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="75" style="width: 100%"></div>
            </div>
          </div>
          <div class="skill-div">
            <div class="spacebetween-div">
              <div class="">
                  <h3>React & Vue.js</h3>
              </div>
              <div class="">
                  <h3>80%</h3>
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
          </div>

        </div>

        <div class="right-row">
          <div class="skill-div">
            <div class="spacebetween-div">
              <div class="skill">
                <h3>Backend Development</h3>
              </div>
              <div class="">
                <h3>90%</h3>
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
            </div>
          </div>


          <div class="skill-div">
            <div class="spacebetween-div">
              <div class="">
                <h3>.Net C#</h3>
              </div>
              <div class="">
                <h3>90%</h3>
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
            </div>
          </div>
          <div class="skill-div">
            <div class="spacebetween-div">
              <div class="">
                  <h3>Database Design</h3>
              </div>
              <div class="">
                  <h3>90%</h3>
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
            </div>

          </div>

        </div>

      </div>

      <div class="feature-projHeading-div">
        <h1>Featured Projects</h1>
      </div>
      <div class="projects-div_container">
            <div class="project-div">
              <div class="card-bluetoping-div">

              </div>
              <div class="projectDscrptn_div">
                <h2>Personal Portfolio</h2>
                <p> A comprehensive personal portfolio showcasing my professional journey, skills, and projects,
                   featuring  blog gallery for insights and thoughts. </p>
                <ul>
                  <li>HTML/CSS</li>
                  <li>JavaScript</li>
                  <li>DJANGO</li>
                  <li>MySQL</li>
                </ul>
                <a href="https://github.com/atmelaku/melakuPortfolio">View Project Code </a>
              </div>

            </div>
            <div class="project-div">
              <div class="card-bluetoping-div">

              </div>
              <div class="projectDscrptn_div">
                <h2>Book Store App</h2>
                <p>The ultimate digital bookstore: vast catalog, easy search, secure checkou,  and more features will be added</p>
                <ul>
                  <li>HTML/CSS</li>
                  <li>Node.js</li>
                  <li>Express</li>
                  <li>MangoDB</li>
                </ul>
                <a href="https://github.com/atmelaku/onlineBookStore">View Project Code </a>
              </div>

            </div>
            <div class="project-div">
              <div class="card-bluetoping-div">

              </div>
              <div class="projectDscrptn_div">
                <h2>A church website</h2>
                <p>Offering a secure member login portal for personal profiles,
                  event registration, service schedule, and ministry resources.</p>
                <ul>
                  <li>HTML/CSS</li>
                  <li>Flask</li>
                  <li>Postgres</li>
                  <li>JavaScript</li>
                </ul>
                <a href="https://github.com/atmelaku/church-eotc">View Project Code </a>
              </div>

            </div>


        </div>


{% endblock %}
