{% extends "blog/base.html" %}
{% load static %}
{% block content %}



<div class="edit_upload_imgs--form">
  <h2>Edit Image and Description</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="upload-pics">
          <div class="choose">
              {{ form.as_p }}
          </div>
      </div>
      <div class="uploadPic-div">
        <button class="btn post_form-btn btn-outline-info" type="submit">Upload to Gallery</button>
        <a class="cancelForm-btn btn-warning" href="{% url 'blog-gallery'  %}">Cancel</a>
      </div>
  </form>
</div>


{% endblock %}
